<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Hello friends!</h1>
  <h2>The total number of user are : <%= count %></h2>
  <a href="http://localhost:8080/user/new"><button>Join us today!</button></a> &nbsp;&nbsp;&nbsp;
  <a href="http://localhost:8080/user"><button>Show all User</button></a>
</body>
</html>